<html>
    <head>
        <meta charset="UTF-8">
        <link href="/static/css/index.css" rel="stylesheet">
        <link rel="shortcut icon" href="/static/images/favicon.ico" >
        <title>TFMS志愿服务查询</title>
    </head>
    <body id="BG">
        <div id="top">
            <div id="TFMS_png"></div>
            <div id="title_zh">TFMS志愿服务查询</div>
            {% if UserID %}
            <div id="Name">{{UserID}}</div>
            {% endif %}
            <div id="More"></div>
        </div>
        <div id="body">
            {% if IsAdmin %}
            <div id='Tools'>
                {% if IsAdmin == 'Admin' %}
                <!--管理员工具:起点-->
                <div id="AdminTools">
                    <div class="ToolsTitle" class="Tool">工具</div>
                    <div id="Reg" class="Tool">注册用户</div><div class="br1"></div>
                    <div id='Search' class="Tool">查询用户信息</div><div class="br1"></div>
                    <div id='ACUP' class="Tool">修改用户密码</div><div class="br1"></div>
                    <!-- <div id="Create" class="Tool">发布志愿服务活动</div><div class="br1"></div>
                    <div id="LookFor" class="Tool">查询志愿服务活动</div><div class="br1"></div> -->
                    <!-- <div id="Change" class="Tool">修改志愿服务活动</div><div class="br1"></div> -->
                    <div id='S&C' class="Tool">查询志愿服务信息</div><div class="br1"></div>
                    <div id='Check' class="Tool">审核志愿服务信息</div><div class="br1"></div>
                    <div id='Output' class="Tool">在线查看用户信息</div><div class="br1"></div>
                    <div id='Download' class="Tool">下载全部用户信息</div><div class="br1"></div>
                </div>
                <!--管理员工具:终点-->
                {% endif %}
                {% if IsAdmin == 'User' %}
                <!--用户工具:起点-->
                <div id="UserTools">
                    <div class="ToolsTitle">工具</div>
                    <!-- <div id='Lookfor' class="Tool">查看志愿活动</div><div class="br1"></div> -->
                    <div id='ChangeID' class="Tool">修改昵称</div><div class="br1"></div>
                    <div id='ChangePassword' class="Tool">修改密码</div><div class="br1"></div>
                    <div id='Upload' class="Tool">上传志愿服务记录</div><div class="br1"></div>
                    <div id="UserLookfor" class="Tool">查询志愿服务活动</div><div class="br1"></div>
                </div>
                <!--用户工具:起点-->
                {% endif %}
            </div>
            <!--用户数据:起点-->
            {% endif %}
            {% if IsAdmin== 'User' %}
            <div id="VolunteerInfo">
                <div id="VITitle">志愿服务信息</div>
                <div id="VTimesDiv">
                    <div id="VTimes"> 志愿服务次数: {{VTimes}}</div>
                </div>
                <div id="VTimeDiv">
                    <div id="VTime">{{VTime}}</div>
                </div>
                <div id="VHistoryDiv">
                    <div id="ShowVHButton">查看志愿服务记录</div><div class="br1"></div>
                    <div id="VHTip">点击编号可查看证明材料</div>
                    <div id="VHPage">
                        <span id="PageMinus1" class="VHP1">←</span>
                        <span id="SetVHPage" class="VHPItems">转跳:</span>
                        <input id="InputVHP" class="VHPItems" value=1 pattern="[0-9]*">
                        <span id="SetVHPageButton" class="VHPItems">确认转跳</span>
                        <span id="NowVHPage" class="VHPItems">1/∞</span>
                        <span id="PagePlus1" class="VHP1">→</span>
                    </div>
                </div>
            </div>
            <!--用户数据:终点-->
            {% endif %}

            <!--以下是弹框-->
            {% if AlertInfo %}
            <!--  大弹窗:起点  -->
            <div id="AlertDiv">
                <div id="AlertDivTitle">提示</div>
                <div id="AlertDivExit" class="Exit"></div>
                <div id="AlertDivInfo">{{AlertInfo}}</div>
            </div>
            <!--  大弹窗:终点  -->
            {% endif %}
            {% if IsAdmin == 'Admin' %}
            <!--  工具弹窗:起点  -->
            <form id="AdminRegUser" class="ToolDiv" action="/" method="post">
                <input class="POST-TYPE" value="reg" name="post_type" id="ARU-post_type">
                <div class="ToolDivTitle" id="ARUTitle">注册用户</div>
                <input class="POST-Username" type="hidden" name="POST-Username"value="None">
                <div id="ARUExit" class="Exit"></div>
                <br>
                <div id="RU_Username">
                    <span class="ToolText">账号:</span>
                    <input id="RU_Username_Input" name="RegUsername" class="ToolInput">
                </div>
                <div id="RU_Password">
                    <span class="ToolText">密码:</span>
                    <input id="RU_Password_Input" name="RegPassword" class="ToolInput">
                </div>
                <div id="RU_ID">
                    <span class="ToolText">昵称:</span>
                    <input id="RU_ID_Input" name="RegID" class="ToolInput">
                </div>
                <div id="RU_SN">
                    <span class="ToolText">学号:</span>
                    <input id="RU_SN_Input" name="RegSN" class="ToolInput">
                </div>
                <div id="RU_IA">
                    <span class="ToolText">身份("Admin"or"User"):</span>
                    <input id="RU_IA_Input" name="RegIA" class="ToolInput">
                </div>
                <input id="ARUButton" type="submit" value="注册" class="ToolSubmitButton">
            </form>
            <form id="AdminCheckEM" class="ToolDiv" action="/" method="post">
                <input class="POST-TYPE" value="check" name="post_type" id="ACEM-post_type">
                <div class="ToolDivTitle" id="ACEMTitle">审核用户信息</div>
                <input class="POST-Username" type="hidden" name="POST-Username" value="None">
                <div id="ACEMExit" class="Exit"></div>
                <div id="BC-VHTip">点击志愿服务信息可查看证明详情</div>
                <div id="BCVH-iframeDiv">
                    <iframe src='/BCVH' id="BCVH-iframe"></iframe>
                </div>
            </form>
            <form id="AdminSearchVH" class="ToolDiv" action="/" method="post">
                <input class="POST-TYPE" value="search" name="post_type" id="ASVH-post_type">
                <div class="ToolDivTitle" id="ASVHTitle">查询志愿服务信息</div>
                <input class="POST-Username" type="hidden" name="POST-Username" value="None">
                <br>
                <div id="ASVH_Username">
                    <span class="ToolText">账号:</span>
                    <input id="ASVH_Username_Input" name="SearchUsername" class="ToolInput">
                </div>
                <input id="ASVHButton" type="submit" value="转跳" class="ToolSubmitButton">
                <div id="ASVHExit" class="Exit"></div>
            </form>
            <form id="AdminSearchAndChange" class="ToolDiv" action="/" method="post">
                <input class="POST-TYPE" value="s&c" name="post_type" id="ASAC-post_type">
                <div class="ToolDivTitle" id="ASVHTitle">查询志愿服务信息</div>
                <input class="POST-Username" type="hidden" name="POST-Username" value="None">
                <div class="ToolTip">注:不支持相似查找，请完整、正确的输入筛选条件!</div>
                <div class="ToolTip">(输入形如{m,n}可查找所有值为m或n;输入形如[M,N] (M﹤N)可查找所有值在M和N之间(包含M和N);其中","为英文)</div>
                <div id="ASACExit" class="Exit"></div>
                <div id="ASAC-SearchDiv">
                    <div class="ASAC-line">
                        <span>
                            <span class="ToolText">用户名：</span>
                            <input id="ASAC-SearchUsername" name="SearchUsername" class="ToolInput">
                        </span>
                        <span class="FR">
                            <span class="ToolText">昵称:</span>
                            <input id="ASAC-SearchID" name="SearchID" class="ToolInput">
                        </span>
                    </div>
                    <div class="ASAC-line">
                        <span>
                            <span class="ToolText">年级：　</span>
                            <input id="ASAC-SearchGrade" name="SearchGrade" class="ToolInput">
                        </span>
                        <span class="FR">
                            <span class="ToolText">班级:</span>
                            <input id="ASAC-SearchClass" name="SearchClass" class="ToolInput">
                        </span>
                    </div>
                    <div class="ASAC-line">
                        <span>
                            <span class="ToolText">地点：　</span>
                            <input id="ASAC-SearchPlace" name="SearchPlace" class="ToolInput">
                        </span>
                        <span class="FR">
                            <span class="ToolText" >内容:</span>
                            <input id="ASAC-SearchContent" name="SearchContent" class="ToolInput">
                        </span>
                    </div>
                    <div class="ASAC-line">
                        <span>
                            <span class="ToolText">日期:</span>
                            <input id="ASAC-SearchDate" name="SearchDate" class="ToolInput" type="date">
                        </span>
                        <span class="FR">
                            <span class="ToolText">时长:</span>
                            <input id="ASAC-SearchTime" name="SearchTime" class="ToolInput">
                        </span>
                    </div>
                    <span>
                        <span class="ToolText" >学号(8位):</span>
                        <input id="ASAC-SearchSN" name="SearchSN" class="ToolInput" type="number">
                    </span>
                    <div id="ASACBDiv"><input id="ASACButton" type="submit" value="查询"><!--左侧input本来是表单提交，但是后来换成iframe了--></div>
                </div>
                <div id="VI-iframeDiv">
                    <iframe src='/volunteerinfo/0/1/2/3/4/5/6/7/8/' id="VI-iframe"></iframe>
                </div>
            </form>
            <form id="AdminChangeUserPassword" class="ToolDiv" action="/" method="post">
                <input class="POST-TYPE" value="acup" name="post_type" id="ACUP-post_type">
                <div class="ToolDivTitle" id="ACUPTitle">修改用户密码</div>
                <input class="POST-Username" type="hidden" name="POST-Username" value="None">
                <div id="ACUPExit" class="Exit"></div>
                <div id="ACUP-UserSN" name="ACUP-SN">
                    <span class="ToolText">用户学号:</span>
                    <input id="ACUP-InputSN" name="ACUP-SN" class="ToolInput" type="number">
                </div>
                <div id="ACUP-UserPassword">
                    <span class="ToolText">新的密码:</span>
                    <input id="ACUP-InputPassword" name='ACUP-Password' class="ToolInput">
                </div>
                <input id="ACUPButton" type="submit" value="修改" class="ToolSubmitButton">
            </form>
            <form id="CreateVolunteerServiceActivities" class="ToolDiv" action="/" method="post" enctype="multipart/form-data">
                <input class="POST-TYPE" value="create-vsa" name="post_type" id="CreateVSA-post_type">
                <div class="ToolDivTitle" id="CreateVSATitle">发布志愿服务活动</div>
                <input class="POST-Username" type="hidden" name="POST-Username" value="None">
                <div id="CreateVSAExit" class="Exit"></div>
                <div id="CreateVSA-VSAName">
                    <span class="ToolText">活动名称:</span>
                    <input id="CreateVSA-InputVSAName" name="CreateVSA-Name" class="ToolInput">
                </div>
                <div id="CreateVSA-VSAPlace">
                    <span class="ToolText">活动地点:</span>
                    <input id="CreateVSA-InputVSAPlace" name="CreateVSA-Place" class="ToolInput">
                </div>
                <div id="CreateVSA-VSAContent">
                    <span class="ToolText">活动内容:</span>
                    <input id="CreateVSA-InputVSAContent" name="CreateVSA-Content" class="ToolInput">
                </div>
                <div id="CreateVSA-VSAStartTime">
                    <span class="ToolText">开始时间:</span>
                    <input id="CreateVSA-InputVSAStartTime" name="CreateVSA-StartTime" class="ToolInput" type="datetime-local">
                </div>
                <div id="CreateVSA-VSAEndTime">
                    <span class="ToolText">结束时间:</span>
                    <input id="CreateVSA-InputVSAEndTime" name="CreateVSA-EndTime" class="ToolInput" type="datetime-local">
                </div>
                <div id="CreateVSA-VSATime">
                    <span class="ToolText">活动时长(分钟):</span>
                    <input id="CreateVSA-InputVSATime" name="CreateVSA-Time" class="ToolInput" type="number">
                </div>
                <div id="CreateVSA-VSAPromotionPoster">
                    <span class="ToolText">上传宣传图片:</span>
                    <input id="CreateVSA-InputVSAPromotionPoster" name="CreateVSA-PromotionPoster" class="ToolInput" type="file" accept=".pdf,.png,.jpg,.jpe,.jpeg,.jfif,.bmp,.gif,.tiff',.tif'" multiple>
                </div>
                <input id="CreateVSAButton" type="submit" value="发布" class="ToolSubmitButton">
            </form>
            <form id="LookforVolunteerServiceActivities" class="ToolDiv" action="/" method="post" enctype="multipart/form-data">
                <input class="POST-TYPE" value="lookfor-vsa" name="post_type" id="LookforVSA-post_type">
                <div class="ToolDivTitle" id="LookforVSATitle">查询志愿服务活动</div>
                <input class="POST-Username" type="hidden" name="POST-Username" value="None">
                <div id="LookforVSAExit" class="Exit"></div>
                <div class="ToolTip">注:不支持相似查找，请完整、正确的输入筛选条件!</div>
                <div id="LookforVSA-SearchDiv">
                    <div class="LookforVSA-line">
                        <span>
                            <span class="ToolText">活动名：</span>
                            <input id="LookforVSA-SearchUsername" name="SearchUsername" class="ToolInput">
                        </span>
                        <span class="FR">
                            <span class="ToolText">内容:</span>
                            <input id="LookforVSA-SearchContent" name="SearchContent" class="ToolInput">
                        </span>
                    </div>
                    <div class="LookforVSA-line">
                        <span>
                            <span class="ToolText">地点：　</span>
                            <input id="LookforVSA-SearchPlace" name="SearchPlace" class="ToolInput">
                        </span>
                        <span class="FR">
                            <span class="ToolText">时长:</span>
                            <input id="LookforVSA-SearchTime" name="SearchTime" class="ToolInput" type="number">
                        </span>
                    </div>
                    <div class="LookforVSA-line">
                        <span>
                            <span class="ToolText">开始：　</span>
                            <input id="LookforVSA-SearchStartTime" name="SearchStartTime" class="ToolInput" type="datetime-local">
                        </span>
                        <span class="FR">
                            <span class="ToolText" >结束:</span>
                            <input id="LookforVSA-SearchEndTime" name="SearchEndTime" class="ToolInput" type="datetime-local">
                        </span>
                    </div>
                    <div id="LookforVSABDiv"><input id="LookforVSAButton" type="submit" value="查询"><!--左侧input本来是表单提交，但是后来换成iframe了--></div>
                </div>
                <div id="LookforVSA-iframeDiv">
                    <iframe src='/VSA_info/Admin/0/1/2/3/4/5/' id="LookforVSA-iframe"></iframe>
                </div>
            </form>
            <form id="ChangeVolunteerServiceActivities" class="ToolDiv" action="/" method="post" enctype="files">
                <input class="POST-TYPE" value="change-vsa" name="post_type" id="ChangeVSA-post_type">
                <div class="ToolDivTitle" id="ChangeVSATitle">修改志愿服务活动</div>
                <input class="POST-Username" type="hidden" name="POST-Username" value="None">
                <div id="ChangeVSAExit" class="Exit"></div>
            </form>
            {% endif %}
            
            {% if IsAdmin == 'User' %}
            <form id="UserUploadVH" class="ToolDiv" action="/" method="post" enctype="multipart/form-data">
                <input class="POST-TYPE" value="upload" name="post_type" id="UUVH-post_type">
                <div class="ToolDivTitle" id="UUVHTitle">上传志愿服务信息</div>
                <input class="POST-Username" type="hidden" name="POST-Username" value="None">
                <br>
                <div id="UUVH_Date">
                    <span class="ToolText">日期:</span>
                    <input id="UUVH_Date_Input" name="UploadDate" class="ToolInput" type="date">
                </div>
                <div id="UUVH_Place">
                    <span class="ToolText">地点:</span>
                    <input id="UUVH_Place_Input" name="UploadPlace" class="ToolInput">
                </div>
                <div id="UUVH_Time">
                    <span class="ToolText">内容:</span>
                    <input id="UUVH_Content_Input" name="UploadContent" class="ToolInput">
                </div>
                <div id="UUVH_Time">
                    <span class="ToolText">时长(分钟):</span>
                    <input id="UUVH_Time_Input" name="UploadTime" class="ToolInput" type="number">
                </div>
                <div id="UUVH_EM">
                    <span class="ToolText">证明材料(pdf、jpg、png、jpe、jpeg、jfif、bmp、gif、tiff、tif文件):</span>
                    <input id="UUVH_EM_Input" name="UploadEM" type="file" accept=".pdf,.png,.jpg,.jpe,.jpeg,.jfif,.bmp,.gif,.tiff',.tif'" multiple>
                </div>
                <input id="UUVHButton" type="submit" value="上传" class="ToolSubmitButton">
                <div id="UUVHExit" class="Exit"></div>
            </form>
            <form id="UserChangeID" class="ToolDiv" action="/" method="post" enctype="multipart/form-data">
                <input class="POST-TYPE" value="ChangeID" name="post_type" id="UCID-post_type">
                <div class="ToolDivTitle" id="UCIDTitle">修改昵称</div>
                <input class="POST-Username" type="hidden" name="POST-Username" value="None">
                <br>
                <div id="UCID_NewID">
                    <span class="ToolText">新的昵称:</span>
                    <input id="UCID_NewID_Input" name="NewID" class="ToolInput">
                </div>
                <input id="UCIDButton" type="submit" value="修改" class="ToolSubmitButton">
                <div id="UCIDExit" class="Exit"></div>
            </form>
            <form id="UserChangePassword" class="ToolDiv" action="/" method="post" enctype="multipart/form-data">
                <input class="POST-TYPE" value="ChangePassword" name="post_type" id="UCP-post_type">
                <div class="ToolDivTitle" id="UCPTitle">修改密码</div>
                <input class="POST-Username" type="hidden" name="POST-Username" value="None">
                <br>
                <div id="UCP_NowPassword">
                    <span class="ToolText">当前密码:</span>
                    <input id="UCP_NowPassword_Input" name="NowPassword" class="ToolInput">
                </div>
                <div id="UCP_NewPassword">
                    <span class="ToolText">新的密码:</span>
                    <input id="UCP_NewPassword_Input" name="NewPassword" class="ToolInput">
                </div>
                <input id="UCPButton" type="submit" value="修改" class="ToolSubmitButton">
                <div id="UCPExit" class="Exit"></div>
            </form>
            <form id="UserLookforVolunteerServiceActivities" class="ToolDiv" action="/" method="post" enctype="multipart/form-data">
                <input class="POST-TYPE" value="user_lookfor-vsa" name="post_type" id="UserLookforVSA-post_type">
                <div class="ToolDivTitle" id="UserLookforVSATitle">查询志愿服务活动</div>
                <input class="POST-Username" type="hidden" name="POST-Username" value="None">
                <div id="UserLookforVSAExit" class="Exit"></div>
                <div class="ToolTip">注:不支持相似查找，请完整、正确的输入筛选条件!</div>
                <div id="UserLookforVSA-SearchDiv">
                    <div class="UserLookforVSA-line">
                        <span>
                            <span class="ToolText">活动名：</span>
                            <input id="UserLookforVSA-SearchUsername" name="SearchUsername" class="ToolInput">
                        </span>
                        <span class="FR">
                            <span class="ToolText">内容:</span>
                            <input id="UserLookforVSA-SearchContent" name="SearchContent" class="ToolInput">
                        </span>
                    </div>
                    <div class="UserLookforVSA-line">
                        <span>
                            <span class="ToolText">地点：　</span>
                            <input id="UserLookforVSA-SearchPlace" name="SearchPlace" class="ToolInput">
                        </span>
                        <span class="FR">
                            <span class="ToolText">时长:</span>
                            <input id="UserLookforVSA-SearchTime" name="SearchTime" class="ToolInput" type="number">
                        </span>
                    </div>
                    <div class="UserLookforVSA-line">
                        <span>
                            <span class="ToolText">开始：　</span>
                            <input id="UserLookforVSA-SearchStartTime" name="SearchStartTime" class="ToolInput" type="datetime-local">
                        </span>
                        <span class="FR">
                            <span class="ToolText" >结束:</span>
                            <input id="UserLookforVSA-SearchEndTime" name="SearchEndTime" class="ToolInput" type="datetime-local">
                        </span>
                    </div>
                    <div id="UserLookforVSABDiv"><input id="UserLookforVSAButton" type="submit" value="查询"><!--左侧input本来是表单提交，但是后来换成iframe了--></div>
                </div>
                <div id="UserLookforVSA-iframeDiv">
                    <iframe src='/VSA_info/User/0/1/2/3/4/5/' id="UserLookforVSA-iframe"></iframe>
                </div>
            </form>
            <!--  工具弹窗:终点  -->
            {% endif %}
            <!--  登录弹窗:起点  -->
            <form id="LoginDiv" action="/" method="post">
                <div id="LoginTitle">登录</div>
                <div id="LoginExit" class="Exit"></div>
                <div id="UN">
                    <span>账号:</span>
                    <input id="Username" type="text" name="Username" value="{{username}}">
                </div>
                <div id="PW">
                    <span>密码:</span>
                    <input id="Password" type="Password" name="Password" value="{{password}}">
                </div>
                <input class="POST-TYPE" value="login" name="post_type" id="login-post_type">
                <input id="LoginButton" type="submit" value="登录">
            </form>
            <!--  登录弹窗:终点  -->
            <!--弹框到此为止-->
        </div>
        <div id="bottom_texts">此处应为备案信息</div><!--底部文本栏-->
        <!--登录回传数据:起点-->
        <span id="LoginResult">
            <span id="IsAdmin">{{IsAdmin}}</span>
            <span id="Time">{{VTime}}</span>
            <span id="Times">{{VTimes}}</span>
            <span id="History">{{VH}}</span>
            <span id="RUN">{{Username}}</span>
            <span id="Replace">{{Replace}}</span>
        </span>
        <!--登录回传数据:终点-->
        <script type="text/javascript" src="/static/javascript/jquery.js"></script>
        <script type="text/javascript" src="/static/javascript/index.js"></script>
    </body>
</html>