<html>
    <head>
        <meta charset="UTF-8">
        <link href="/static/css/VSA.css" rel="stylesheet">
        <link rel="shortcut icon" href="/static/images/favicon.ico" >
        <title>修改志愿服务活动</title>
    </head>
    <body>
        {% if AlertInfo %}
        <div id="AlertDiv">
            <div id="AlertDivTitle">提示</div>
            <div id="AlertDivExit" class="Exit"></div>
            <div id="AlertDivInfo">{{AlertInfo}}</div>
        </div>
        {% endif %}
        <form id="ChangeVolunteerServiceActivities" class="ToolDiv" action="" method="post" enctype="files">
            <div class="ToolDivTitle" id="ChangeVSATitle">修改志愿服务活动</div>
            <div id="Change-VSAName">
                <span class="ToolText">活动名称:</span>
                <input id="ChangeVSA-InputVSAName" name="ChangeVSA-Name" class="ToolInput" value="{{ChangeVSA_Name}}">
            </div>
            <div id="ChangeVSA-VSAPlace">
                <span class="ToolText">活动地点:</span>
                <input id="ChangeVSA-InputVSAPlace" name="ChangeVSA-Place" class="ToolInput" value="{{ChangeVSA_Place}}">
            </div>
            <div id="ChangeVSA-VSAContent">
                <span class="ToolText">活动内容:</span>
                <input id="ChangeVSA-InputVSAContent" name="ChangeVSA-Content" class="ToolInput" value="{{ChangeVSA_Content}}">
            </div>
            <div id="ChangeVSA-VSAStartTime">
                <span class="ToolText">开始时间:</span>
                <input id="ChangeVSA-InputVSAStartTime" name="ChangeVSA-StartTime" class="ToolInput" type="datetime-local" value="{{ChangeVSA_StartTime}}">
            </div>
            <div id="ChangeVSA-VSAEndTime">
                <span class="ToolText">结束时间:</span>
                <input id="ChangeVSA-InputVSAEndTime" name="ChangeVSA-EndTime" class="ToolInput" type="datetime-local" value="{{ChangeVSA_EndTime}}">
            </div>
            <div id="ChangeVSA-VSATime">
                <span class="ToolText">活动时长(分钟):</span>
                <input id="ChangeVSA-InputVSATime" name="ChangeVSA-Time" class="ToolInput" type="number" value="{{ChangeVSA_Time}}">
            </div>
            <div id="ChangeVSA-VSAPromotionPoster">
                <span class="ToolText">宣传图片:</span>
                <a href="/file/VSAs@{{ChangeVSA_Name}}${{ChangeVSA_Place}}${{ChangeVSA_Content}}${{ChangeVSA_StartTime}}${{ChangeVSA_EndTime}}${{ChangeVSA_Time}}/" class="ToolInput" id="to_img" target="_blank">查看</a>
            </div>
            <input type="hidden" name="isTrue" id="is_true">
            <div id="CheckAdmin">
                <div id="ChangeVSA-Tip">提交志愿服务信息时需要验证身份!</div>
                <div class="CheckAdmin"><span>管理员账号:</span><input class="Input" id="CLUsername" name="AdminUsername" autocomplete="off"></div>
                <div class="CheckAdmin"><span>管理员密码:</span><input class="Input" id="CLPassword" name="AdminPassword" type="password" autocomplete="off"></div>
                <input id="CLS" type="submit" value="提交志愿服务信息" class="CheckAdmin"></input>
                <input id="CLS-False" type="submit" value="删除志愿服务信息" class="CheckAdmin"></input>
            </div>
        </form>
        <script type="text/javascript" src="/static/javascript/jquery.js"></script>
        <script type="text/javascript" src="/static/javascript/ChangeVSA.js"></script>
    </body>
</html>