<html>
    <head>
        <meta charset="UTF-8">
        <link href="/static/css/index_mobile.css" rel="stylesheet">
        <link rel="shortcut icon" href="/static/images/favicon.ico" >
        <title>TFMS志愿服务查询</title>
    </head>
    <body id="BG">
        <div id="top">
            <div id="TFMS_png"></div>
            <div id="title_zh">TFMS志愿服务查询</div>
        </div>
        <!-- <div id="MobileTip">
            请用电脑打开本网站
            <br>
            注:电脑需"页面宽度>页面高度"
        </div> -->
        <iframe id="iframe" src="/"></iframe>
        <div id="bottom_texts">此处应为备案信息</div>
        <script type="text/javascript" src="/static/javascript/jquery.js"></script>
        <script type="text/javascript" src="/static/javascript/index_mobile.js"></script>
    </body>
</html>