<html>
    <head>
        <meta charset="UTF-8">
        <link href="/static/css/volunteer_info.css" rel="stylesheet">
        <link rel="shortcut icon" href="/static/images/favicon.ico" >
        <title>筛选志愿服务记录</title>
    </head>
    <body>
        <span id="VIs">{{volunteerinfo}}</span>
        <div id="VolunteerInfo">
            <div id="VI-Tip">点击志愿服务信息可查看详情</div>
            <a id="VI-Export">导出</a>
        </div>
        <script type="text/javascript" src="/static/javascript/jquery.js"></script>
        <script type="text/javascript" src="/static/javascript/volunteer_info.js"></script>
    </body>
</html>